{% extends 'base.html' %}

{% block title %}Staff Login - Cartly{% endblock %}

{% block content %}

<div class="auth-box">
    <h2>Staff Login</h2>
    {% if error %}
    <p style="color: red; font-size: 14px; margin-bottom: 12px;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="add-cart-btn">Login</button>
    </form>
</div>

{% endblock %}